@use '../abstract/' as *;
// PADDING
.p-10 {	padding: 1rem; }
.p-20 {	padding: 2rem; }
.p-30 {	padding: 3rem; }
.p-40 {	padding: 4rem; }
.p-50 {	padding: 5rem; }
.p-60 {	padding: 6rem; }

.pe-10 {	padding-right: 1rem; }
.pe-20 {	padding-right: 2rem; }
.pe-30 {	padding-right: 3rem; }
.pe-40 {	padding-right: 4rem; }
.pe-50 {	padding-right: 5rem; }
.pe-60 {	padding-right: 6rem; }

.pb-1 {	padding-bottom: .5rem; }
.pb-2 {	padding-bottom: 1rem; }
.pb-3 {	padding-bottom: 1.5rem; }
.pb-4 {	padding-bottom: 2rem; }
.pb-5 {	padding-bottom: 2.5rem; }
.pb-6 {	padding-bottom: 3rem; }

.ps-1 {	padding-left: .5rem; }
.ps-2 {	padding-left: 1rem; }
.ps-3 {	padding-left: 1.5rem; }
.ps-4 {	padding-left: 2rem; }
.ps-5 {	padding-left: 2.5rem; }
.ps-6 {	padding-left: 3rem; }

.py-1 {	padding: .5rem 0; }
.py-2 {	padding: 1rem 0; }
.py-3 {	padding: 1.5rem 0; }
.py-4 {	padding: 2rem 0; }
.py-5 {	padding: 2.5rem 0; }
.py-6 {	padding: 3rem 0; }

.px-1 {	padding: 0 .5rem; }
.px-2 {	padding: 0 1rem; }
.px-3 {	padding: 0 1.5rem; }
.px-4 {	padding: 0 2rem; }
.px-5 {	padding: 0 2.5rem; }
.px-6 {	padding: 0 3rem; }

.fs-1 { font-size: .5rem }
.fs-2 { font-size: 1rem }
.fs-3 { font-size: 1.5rem }
.fs-4 { font-size: 2rem }
.fs-5 { font-size: 2.5rem }
.fs-6 { font-size: 3rem }
