/* Breakpoints */
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


/* Defaultní písmo */
$first-font: "Archivo", serif;

/* Colors */
$first-color: gray;

$header-height: 4rem;
$footer-width: 2rem;

$red: red;
$yellow: yellow;









